includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/simtel/phpstan-rules/rules.neon
parameters:
    paths:
        - src
    # The level 8 is the highest level
    level: max
    ignoreErrors:
    excludePaths:
    checkMissingIterableValueType: false
