includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    doctrine:
        objectManagerLoader: phpstan-object-manager.php
    paths:
        - config
        - src
        - tests
        - migrations
    level: max
    ignoreErrors:
    excludePaths:
        - config/reference.php
